/* Style for each row container */
.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;  /* Adds space between rows */
}

/* Style for labels */
.concentration-label {
    margin-right: 10px;  /* Adds space between the label and input */
    font-weight: bold;  /* Makes label text bold */
    font-size: 14px;     /* Optional: Adjust font size for label */
}

/* Style for the input fields */
.dynamic-input {
    padding: 8px;
    width: 200px;        /* Adjust based on your preferred input width */
    font-size: 14px;     /* Optional: Adjust font size for input */
}

canvas {
    max-width: 100%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
    height: 600px;
}